In [1]:
'''
 SYLLABUS
1.Comments
2.Variables
3.Datatypes
4.Strings
5.List
6.Tuple
7.Control statements
8.Looping statements
9.sets
10.dictionary
11.functions
12.File Handling
13.Error Handling
14.Oops
'''

'\n SYLLABUS\n1.Comments\n2.Variables\n3.Datatypes\n4.Strings\n5.List\n6.Tuple\n7.Control statements\n8.Looping statements\n9.sets\n10.dictionary\n11.functions\n12.File Handling\n13.Error Handling\n14.Oops\n'

# Python Indentation:

* Indentation refers to the spaces at the beginning of a code line.

In [3]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

# 1.Python Comments:
* Comments can be used to explain Python code.
* Comments can be used to prevent execution when testing code.

### Creating a Comment:
* Comments starts with a #, and Python will ignore them:

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

### A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

In [3]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# Multi Line Comments :
* Python does not really have a syntax for multi line comments.
* To add a multiline comment you could insert a # for each line:

In [4]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

### you can use a multiline string.
* Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [6]:
"""
Hi how are you 
"""

'\nHi how are you \n'

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

#  2.Python Variables

* Variables are containers for storing data values.

### Creating Variables
* Python has no command for declaring a variable.

* A variable is created the moment you first assign a value to it.

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

## Casting:
* If you want to specify the data type of a variable, this can be done with casting.

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

### Get the Type:
* You can get the data type of a variable with the type() function.

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)
type(x)

float

In [15]:
type(y)

int

In [16]:
type(z)

float

In [9]:
a=5
type(a)

int

In [10]:
print(type(a))

<class 'int'>

In [17]:
print(type(x))

<class 'str'>

In [18]:
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>

## Variable names are case-sensitive.

In [19]:
x=123

In [20]:
x

123

In [21]:
X

NameError: name 'X' is not defined

# Variable Names:

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).


* Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4.Variable names are case-sensitive (age, Age and AGE are three different variables)

In [23]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [24]:
# Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (Temp/ipykernel_1636/3704874718.py, line 3)

### Multi Words Variable Names:
* Variable names with more than one word can be difficult to read.

* There are several techniques you can use to make them more readable:

In [25]:
# Camel Case----->Each word, except the first, starts with a capital letter:
myVariableName = "John"

In [26]:
# Pascal Case--->Each word starts with a capital letter
MyVariableName = "John"

In [27]:
#Snake Case--->Each word is separated by an underscore character:
my_variable_name = "John"

## Python Variables - Assign Multiple Values::

In [28]:
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### Note: Make sure the number of variables matches the number of values, or else you will get an error.

In [29]:
x, y = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 2)

In [30]:
# And you can assign the same value to multiple variables in one line:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [31]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# 3.Datatypes::

* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

In [32]:
x=int(20.5)

In [33]:
x

20

In [34]:
type(x)

int

# 4.Python Strings:

* Strings in python are surrounded by either single quotation marks, or double quotation marks.

* 'hello' is the same as "hello".

In [35]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable:
* Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [36]:
a = "Hello"
print(a)

Hello

### Multiline Strings
* You can assign a multiline string to a variable by using three quotes:

In [37]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Or three single quotes:

In [38]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

In [39]:
a="Nitish"
a[0]

'N'

### Looping Through a String:

* Since strings are arrays, we can loop through the characters in a string, with a for loop

In [40]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length:
* To get the length of a string, use the len() function.

In [41]:
a = "Hello, World!"
print(len(a))

13

### Check String:
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [42]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [43]:
txt = "The best things in life are free!"
print("Hero" in txt)

False

### Python - Slicing Strings:

* You can return a range of characters by using the slice syntax.

* Specify the start index and the end index, separated by a colon, to return a part of the string.

In [44]:
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

#### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [46]:
b = "Hello, World!"
print(b[:5])

Hello

#### Slice To the End
By leaving out the end index, the range will go to the end:

In [47]:
b = "Hello, World!"
print(b[0:])

Hello, World!

In [48]:
b = "Hello, World!"
print(b[:])

Hello, World!

#### Negative Indexing:
* Use negative indexes to start the slice from the end of the string:

In [49]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Python - Modify Strings

In [52]:
# Upper Case: The upper() method returns the string in upper case:
b = "Hello, World!"
print(b.upper())

HELLO, WORLD!

In [11]:
x=input("PLease enter ur name")

PLease enter ur namebhargavi

In [53]:
#Lower Case: The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace:
* Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

* The strip() method removes any whitespace from the beginning or the end:

In [54]:
a = " Hello, World! "
print(a.strip()) # returns "Hello,             World!"

Hello, World!

### Replace String:

* The replace() method replaces a string with another string:

In [55]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Split String:
The split() method returns a list where the text between the specified separator becomes the list items.

In [56]:
# The split() method splits the string into substrings if it finds instances of the separator
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

#### String Concatenation:
* To concatenate, or combine, two strings you can use the + operator.

In [57]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [15]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)
print()
print(a)

Hello World

Hello

### Python - Format - Strings::

In [16]:
name = input('enter ur name :')
age = int(input('enter ur age :'))
#print(f"my name is {name} and my age is {age}")  # it works above 3.7 python
print("my name is {} and my age is {}".format(age,name))
#print("my name is {1} and my age is {0}".format(age,name))

enter ur name :nitish
enter ur age :45
my name is 45 and my age is nitish

In [61]:
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [62]:
age = str('36')
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

#### But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [64]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

#### The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [65]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

#### You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [66]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [67]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (Temp/ipykernel_1636/3798921321.py, line 3)

In [69]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# LISTS:

* Lists are used to store multiple items in a single variable.

* Lists are created using square brackets:

* A list can contain different data types:

In [1]:
# Create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### 

* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

### Changeable:

* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [2]:
# Changing an element in the list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
thislist[1]='frog'

In [4]:
thislist

['apple', 'frog', 'cherry']

### Ordered:

* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

In [18]:
# Adding an element------
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [19]:
thislist.append("Mango")

In [20]:
thislist

['apple', 'banana', 'cherry', 'Mango']

In [22]:
thislist[2]="hi"

In [23]:
thislist

['apple', 'banana', 'hi', 'Mango']

### New element got added at the end

## Allow Duplicates:

In [9]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length
To determine how many items a list has, use the len() function:

In [10]:
print(len(thislist))

5

In [11]:
len(thislist)

5

### A list can contain different data types:

In [12]:
thislist=['apple',14,14.98]

In [13]:
print(thislist)

['apple', 14, 14.98]

In [14]:
type(thislist)

list

## Python Collections:
* There are four collection data types in the Python programming language

* List is a collection which is ordered and changeable. Allows duplicate members.

* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* Dictionary is a collection which is ordered** and changeable. No duplicate members.

### Python - Access List Items
* List items are indexed and you can access them by referring to the index number:

In [15]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing
* Negative indexing means start from the end

* -1 refers to the last item, -2 refers to the second last item etc.

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### You can specify a range of indexes by specifying where to start and where to end the range.

In [17]:
thislist[0:1]

['apple']

In [18]:
thislist[0:2]

['apple', 'banana']

In [20]:
# Return the third, fourth, and fifth item:
a=["Home","House","Village","Happy","Sad","bad"]
a[2:5]

['Village', 'Happy', 'Sad']

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [22]:
#This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### Negative Indexes

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:])

['orange', 'kiwi', 'melon', 'mango']

### Check if Item Exists:

In [29]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "cherry" in thislist:
    print("Yes")

Yes

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "chery" in thislist:
    print("Yes")
else:
    print("No")

No

### Python - Change List Items:
* To change the value of a specific item, refer to the index number:

In [32]:
#Change the second item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2]='Cat'

In [33]:
print(thislist)

['apple', 'banana', 'Cat', 'orange', 'kiwi', 'melon', 'mango']

### Change a Range of Item Values
* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [34]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:4]=['Dog',"Bat","Die"]

In [35]:
thislist

['apple', 'banana', 'Dog', 'Bat', 'Die', 'kiwi', 'melon', 'mango']

In [38]:
#Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:3]=["MATHS","MATCHES"]

In [39]:
thislist

['apple', 'banana', 'MATHS', 'MATCHES', 'orange', 'kiwi', 'melon', 'mango']

# 6-Tuple:

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with round brackets.

In [2]:
# Create a Tuple:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Tuples are Ordered -Unchangable / Immutable-Allow duplicates

* Ordered: When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

* Unchangaeble:Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

* Allow duplicates:

In [3]:
a=(1,2,3,7,9)
print(a)

(1, 2, 3, 7, 9)

In [5]:
# A tuple can contain different data types:
a=(1,2.5,"apple")
print(a)

(1, 2.5, 'apple')

In [6]:
type(a)

tuple

# Access Tuple Items:
* You can access tuple items by referring to the index number, inside square brackets:

In [7]:
a=(1,2.5,"apple")
a[1]

2.5

In [8]:
print(a[1])

2.5

In [9]:
# Negative Indexing: Negative indexing means start from the end.

# -1 refers to the last item, -2 refers to the second last item etc.

In [10]:
a[-1]

'apple'

In [11]:
# Range of Indexes:
a[0:]

(1, 2.5, 'apple')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [13]:
# This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thistuple[2:]

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [14]:
# Check if Item Exists
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "kiwi" in thistuple:
    print("Yes")

Yes

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "frog" in thistuple:
    print("Yes")
else:
    print("No")

No

# Python - Update Tuples:

* Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [16]:
thistuple=(1,2,3,4,5,6)
y=list(thistuple) # Converting the tuple into list

In [17]:
y

[1, 2, 3, 4, 5, 6]

In [18]:
# Now make the changes u like
# adding 100
y.append(100)

In [19]:
y

[1, 2, 3, 4, 5, 6, 100]

In [20]:
thistuple=tuple(y) # Converitng back to the tuple

In [21]:
thistuple

(1, 2, 3, 4, 5, 6, 100)

## Add tuple to a tuple ::

In [22]:
a=(1,2,3,4,5,6) # First tuple
b=("apple","Man") # Second tuple
a=a+b # Adding first and second tuple

In [23]:
a

(1, 2, 3, 4, 5, 6, 'apple', 'Man')

### Remove Items::Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [24]:
thistuple = ("apple", "banana", "cherry") # creating a tuple
# I want to remove cherry from the tuple
a=list(thistuple) # Converting tuple to the list

In [25]:
a

['apple', 'banana', 'cherry']

In [26]:
a.remove("cherry")

In [27]:
a

['apple', 'banana']

In [28]:
thistuple=tuple(a) # Convert back to tuple

In [29]:
thistuple

('apple', 'banana')

## Loop Through a Tuple:
* You can loop through the tuple items by using a for loop.
* Iterate through the items and print the values:

In [30]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [35]:
a=("apple")
for i in a:
    print(i)

a
p
p
l
e

In [36]:
a=("apple")
for i in a:
    print("i")

i
i
i
i
i

## Join Two Tuples:
* To join two or more tuples you can use the + operator

In [37]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples:
* If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [38]:
tuple1 = ("a", "b" , "c")
tuple2=tuple1*2
print(tuple2)

('a', 'b', 'c', 'a', 'b', 'c')

## Tuple Methods:

* Python has two built-in methods that you can use on tuples.

* count()	Returns the number of times a specified value occurs in a tuple

* index()	Searches the tuple for a specified value and returns the position of where it was found

In [39]:
tuple2

('a', 'b', 'c', 'a', 'b', 'c')

In [41]:
tuple2.count('a')

2

In [42]:
tuple2.index('a')

0

# Python Sets::

* Sets are used to store multiple items in a single variable.

* Sets are written with curly brackets.

* A set is a collection which is unordered, unchangeable*, and unindexed....Set items are unchangeable, but you can remove items and add new items.

In [44]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

## Unordered:

* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [51]:
a={"Zebra","Cow","Bat","Pink"}

In [52]:
a # Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

{'Bat', 'Cow', 'Pink', 'Zebra'}

## Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### Duplicates Not Allowed
* Sets cannot have two items with the same value.

In [53]:
a={"Apple","Kivi","Mango","Banana","Banana"}

In [55]:
a #Duplicate values will be ignored:

{'Apple', 'Banana', 'Kivi', 'Mango'}

In [56]:
# Get the Length of a Set
len(a)

4

In [57]:
# Set items can be of any data type:
a={1,1235.65,"apple"}

In [58]:
a

{1, 1235.65, 'apple'}

In [59]:
type(a)

set

### Access Set Items:

* You cannot access items in a set by referring to an index or a key.
* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [60]:
a={1,1235.65,"apple"}

In [61]:
a[1]

TypeError: 'set' object is not subscriptable

In [62]:
a={1,1235.65,"apple"}
for i in a:
    print(i)

1
1235.65
apple

### Add Set Items:
* Once a set is created, you cannot change its items, but you can add new items.
* To add one item to a set use the add() method.

In [63]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

### Add Sets
* To add items from another set into the current set, use the update() method.

In [64]:
thisset = {"apple", "banana", "cherry"}
a={'1','2','3','4'}
thisset.update(a)

In [65]:
thisset

{'1', '2', '3', '4', 'apple', 'banana', 'cherry'}

### Remove Set Items:
* To remove an item in a set, use the remove(), or the discard() method.

In [66]:
thisset

{'1', '2', '3', '4', 'apple', 'banana', 'cherry'}

In [67]:
thisset.remove('cherry')

In [68]:
thisset

{'1', '2', '3', '4', 'apple', 'banana'}

In [69]:
# Remove the last item by using the pop() method:
thisset

{'1', '2', '3', '4', 'apple', 'banana'}

In [70]:
thisset.pop()

'banana'

In [71]:
# The clear() method empties the set:
a={11,12,13,14,15,16}
a.clear()

In [72]:
a

set()

In [73]:
# The del keyword will delete the set completely:
b={14,15,16,17,18,19}

In [75]:
del b

In [76]:
b

NameError: name 'b' is not defined

### Loop Sets::
* You can loop through the set items by using a for loop:

In [77]:
a={11,12,13,141,15}
for i in a:
    print(i)

141
11
12
13
15

### Join Sets::
* You can use the union() method that returns a new set containing all items from both sets

In [78]:
a={1,2,3,4,5,6,7}
b={"apple","Banana","Kivy"}
c=a.union(b)

In [79]:
c

{1, 2, 3, 4, 5, 6, 7, 'Banana', 'Kivy', 'apple'}

In [81]:
# The update() method inserts the items in set2 into set1:
a={1,2,3,4,5,6,7}
b={"apple","Banana","Kivy"}
a.update(b)

In [82]:
a

{1, 2, 3, 4, 5, 6, 7, 'Banana', 'Kivy', 'apple'}

# Dictionary::

* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
* Dictionaries are written with curly brackets, and have keys and values:

In [83]:
a={"brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(a)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [84]:
# Dictionary items are ordered, changeable, and does not allow duplicates.
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [85]:
# Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [86]:
# When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

In [87]:
# Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

### Duplicates Not Allowed:
* Dictionaries cannot have two items with the same key:

In [88]:
#Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Dictionary Length
* To determine how many items a dictionary has, use the len() function:

In [89]:
len(thisdict)

3

In [90]:
#The values in dictionary items can be of any data type:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [91]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [92]:
type(thisdict)

dict

### Accessing Items
* You can access the items of a dictionary by referring to its key name, inside square brackets:

In [93]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [94]:
thisdict['year']

1964

In [96]:
# The keys() method will return a list of all the keys in the dictionary.
thisdict.keys()

dict_keys(['brand', 'electric', 'year', 'colors'])

### Change Values
* You can change the value of a specific item by referring to its key name:

In [97]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [98]:
thisdict['year']=2000

In [99]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 2000,
 'colors': ['red', 'white', 'blue']}

### Add Dictionary Items:
* Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [100]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Conditional Statements and loops::

# Condition statements
* if
* else
* elif
* nested if  --> condition inside a condition

# Loops

* while 
* for
* nested while,for

### What is the difference between conditional Statement and looping statement?

* Conditional statement will execute only once if condition is true whereas loop will execute repeatedly till the condition becomes false

## If condition::

In [2]:
a = int(input('enter a num :'))
if a>0:
    print('its +ve num.')
else:
    
    print('its -ve num.')

enter a num :5
its +ve num.

### Odd or Even

In [4]:
a=int(input('Enter a number::'))
if a%2==0:
    print(f'{a} is a even')
else:
    print(f'{a} is a odd')

Enter a number::8
8 is a even

In [10]:
a=int(input('Enter a number::'))
if a>100 and a<=200:
    if a%2==0:
        print(f'{a} is a even')
    else:
        print(f'{a} is a odd')
elif a>500 and a<=1000:
    if a%2==0 :
        print(f'{a} is a even')
    else:
        print(f'{a} is a odd')

Enter a number::986
986 is a even

In [11]:
200 > 100 and 20 <=200

True

In [12]:
True and False

False

## Python Loops: Python has two primitive loop commands:
* while loops
* for loops

### The while Loop:
* With the while loop we can execute a set of statements as long as a condition is true.

In [13]:
# Print i as long as i is less than 6:
i=0
while i<6:
    print(i)
    i=i+1

0
1
2
3
4
5

In [38]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [39]:
i=1
while i<=10:
    print(i,end = " ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [40]:
i=10
while i>=6:
    print(i)
    i=i-1

10
9
8
7
6

In [41]:
i=10
while i>=6:
    print(i,end=" ")
    i=i-1

10 9 8 7 6

### The break Statement:
* With the break statement we can stop the loop even if the while condition is true:

In [16]:
# Exit the loop when i is 3:
i=0
while i<6:
    print(i)
    i=i+1
    if i==3:
        break;

0
1
2

In [19]:
# Exit the loop when i is 3:
i=0
while i<6:
    print(i)
    i=i+1
    if i==3:
        break;
i=i+1

0
1
2

### The continue Statement::
* With the continue statement we can stop the current iteration, and continue with the next:

In [34]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement:

* With the else statement we can run a block of code once when the condition no longer is true:

In [37]:
# Print a message once the condition is false:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print(f'{i} is no longer less than 6')

1
2
3
4
5
6 is no longer less than 6

### For Loops:
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [42]:
for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [43]:
for i in range(1,12,1):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10 11

In [44]:
for i in range(1,12,3):
    print(i,end = " ")

1 4 7 10

In [45]:
for i in range(10,1,-1):
    print(i,end = " ")

10 9 8 7 6 5 4 3 2

In [48]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [53]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end= ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [54]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [55]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end= ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [56]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [57]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [59]:
a = "nitish"
for a in range(1,5):
    print(a)

1
2
3
4

In [62]:
a = "nitish"
for i in range(1,5):
    print(a)

nitish
nitish
nitish
nitish

In [64]:
print("********")
print("***")

********
***

In [65]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [66]:
# Looping Through a String
a="banana"
for i in a:
    print(i)

b
a
n
a
n
a

In [70]:
# Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x =="banana":
        break

apple
banana

In [71]:
#Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x =="banana":
        break
    print(x)

apple

In [72]:
# With the continue statement we can stop the current iteration of the loop, and continue with the next:
# Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
cherry

### range() Function:
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [73]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [74]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [75]:
# Increment the sequence with 3 (default is 1):
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [76]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [77]:
# Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [84]:
for x in range(6):
  if x == 3: break
  print(x)
else:
    print("Finally finished!")

0
1
2

### Nested Loops
* A nested loop is a loop inside a loop.

* The "inner loop" will be executed one time for each iteration of the "outer loop":

In [85]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement:
* for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [26]:
for x in [0, 1, 2]:
  pass