In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('insurance.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Describe function in pandas::


* The describe() method returns description of the data in the DataFrame.


* If the DataFrame contains numerical data, the description contains these information for each column:

In [4]:

'''count - The number of not-empty values.
mean - The average (mean) value.
std - The standard deviation.
min - the minimum value.
25% - The 25% percentile*.
50% - The 50% percentile*.
75% - The 75% percentile*.
max - the maximum value.'''

'count - The number of not-empty values.\nmean - The average (mean) value.\nstd - The standard deviation.\nmin - the minimum value.\n25% - The 25% percentile*.\n50% - The 50% percentile*.\n75% - The 75% percentile*.\nmax - the maximum value.'

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

# Check the type of above::

In [8]:
type(df['age'])

pandas.core.series.Series

# Important::

* In pandas there are two types of datatypes:: 1. Dataframes  2.Series

* Series means one single record ie,it can be a row single record or column single record

In [9]:
df['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [10]:
# How to get the series data in dataframe format----> Use double squared braces
df[['age']]

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1333   50
1334   18
1335   18
1336   21
1337   61

[1338 rows x 1 columns]

In [11]:
# Now check the type of the above----> it would be dataframe
type(df[['age']])

pandas.core.frame.DataFrame

# How to fetch two or more data columns or records

In [12]:
df['age','sex','bmi'] # U will get error in this way

KeyError: ('age', 'sex', 'bmi')

In [13]:
df[['age','sex','bmi']] # Placing in list

      age     sex     bmi
0      19  female  27.900
1      18    male  33.770
2      28    male  33.000
3      33    male  22.705
4      32    male  28.880
...   ...     ...     ...
1333   50    male  30.970
1334   18  female  31.920
1335   18  female  36.850
1336   21  female  25.800
1337   61  female  29.070

[1338 rows x 3 columns]

# How to read data from excel sheet::

In [16]:

df1=pd.read_excel(r'C:\Users\NITHISH\Desktop\PYTHON CLASSES\SEM-4\Numpy-Pandas\Historicalinvesttemp.xlsx')

In [17]:
df1

   Unnamed: 0                        Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN                               NaN        NaN        NaN
1         NaN                               NaN        NaN        NaN
2         NaN                               NaN        NaN        NaN
3         NaN                               NaN        NaN        NaN
4         NaN  Annual Returns on Investments in        NaN        NaN
..        ...                               ...        ...        ...
85       2007                            0.0549     0.0988     0.0466
86       2008                             -0.37     0.2587      0.016
87       2009                            0.2646     -0.149      0.001
88        NaN                            stocks     tbills      bonds
89   averages                               NaN        NaN        NaN

[90 rows x 4 columns]

# Note:: Here by default it fetchs the data from the sheet1 of the excel file

# How to fetch the sheet-2::

* use the sheet_name parameter while reading the excel sheet

In [22]:

df1=pd.read_excel(r'C:\Users\NITHISH\Desktop\PYTHON CLASSES\SEM-4\Numpy-Pandas\Historicalinvesttemp.xlsx',sheet_name='Quarter')

In [23]:
df1

   Unnamed: 0                        Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN                               NaN        NaN        NaN
1         NaN                               NaN        NaN        NaN
2         NaN                               NaN        NaN        NaN
3         NaN                               NaN        NaN        NaN
4         NaN  Annual Returns on Investments in        NaN        NaN
..        ...                               ...        ...        ...
85       2007                            0.0549     0.0988     0.0466
86       2008                             -0.37     0.2587      0.016
87       2009                            0.2646     -0.149      0.001
88        NaN                            stocks     tbills      bonds
89   averages                               NaN        NaN        NaN

[90 rows x 4 columns]

# How to read data from HTML file ??

In [24]:
df3=pd.read_html('https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool')

In [25]:
df3

[       Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not PlayÂ (other pro leagueâ€”Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    TOT
 16    2021-22  32.0                                    LAC
 17    2021-22  32.0                                    MIL
 18     Career   NaN                                    NaN
 19        NaN   NaN                                    NaN
 20  7 seasons   NaN                                    OKC
 21  4 seasons   NaN                                    TOR
 22  2 seasons   NaN                                    LAC
 23   1 season   NaN                                    ORL
 24   1 season   NaN                                    MIL

                                        Lg  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NBA
 18                                    NBA
 19                                    NaN
 20                                    NBA
 21                                    NBA
 22                                    NBA
 23                                    NBA
 24                                    NBA

                                       Pos  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                   C,PF
 16                                      C
 17                                     PF
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN

                                         G  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     54
 16                                     35
 17                                     19
 18                                    903
 19                                    NaN
 20                                    524
 21                                    228
 22                                     76
 23                                     56
 24                                     19

                                        GS  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                     12
 16                                     10
 17                                      2
 18                                    697
 19                                    NaN
 20                                    413
 21                                    177
 22                                     49
 23                                     56
 24                                      2

                                        MP  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   16.2
 16                                   15.4
 17                                   17.8
 18                                   27.6
 19                                    NaN
 20                                   28.8
 21                                   27.6
 22                                   19.6
 23                                   30.5
 24                                   17.8

                                        FG  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.7
 16                                    2.7
 17                                    2.8
 18                                    5.0
 19                                    NaN
 20                                    4.9
 21                                    5.8
 22                                    3.7
 23                                    6.1
 24                                    2.8

                                       FGA  ...  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    5.5  ...
 16                                    5.5  ...
 17                                    5.5  ...
 18                                    9.8  ...
 19                                    NaN  ...
 20                                    9.3  ...
 21                                   11.4  ...
 22                                    7.3  ...
 23                                   12.6  ...
 24                                    5.5  ...

                                       FT%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .727
 16                                   .690
 17                                   .800
 18                                   .758
 19                                    NaN
 20                                   .745
 21                                   .768
 22                                   .768
 23                                   .846
 24                                   .800

                                       ORB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    1.1
 17                                    1.2
 18                                    2.1
 19                                    NaN
 20                                    2.4
 21                                    1.7
 22                                    1.5
 23                                    1.8
 24                                    1.2

                                       DRB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    3.5
 16                                    3.1
 17                                    4.1
 18                                    5.1
 19                                    NaN
 20                                    5.0
 21                                    5.7
 22                                    4.1
 23                                    5.0
 24                                    4.1

                                       TRB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    4.6
 16                                    4.3
 17                                    5.3
 18                                    7.2
 19                                    NaN
 20                                    7.4
 21                                    7.4
 22                                    5.6
 23                                    6.8
 24                                    5.3

                                       AST  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    0.9
 16                                    1.0
 17                                    0.7
 18                                    0.8
 19                                    NaN
 20                                    0.6
 21                                    1.1
 22                                    1.4
 23                                    1.1
 24                                    0.7

                                       STL  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.2
 17                                    0.2
 18                                    0.4
 19                                    NaN
 20                                    0.4
 21                                    0.4
 22                                    0.2
 23                                    0.6
 24                                    0.2

                                       BLK  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    0.7
 17                                    0.4
 18                                    1.9
 19                                    NaN
 20                                    2.5
 21                                    1.2
 22                                    1.0
 23                                    1.6
 24                                    0.4

                                       TOV  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    0.8
 16                                    0.9
 17                                    0.5
 18                                    1.3
 19                                    NaN
 20                                    1.3
 21                                    1.5
 22                                    1.0
 23                                    1.2
 24                                    0.5

                                        PF  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    1.9
 16                                    1.6
 17                                    2.4
 18                                    2.7
 19                                    NaN
 20                                    2.8
 21                                    2.8
 22                                    1.7
 23                                    2.5
 24                                    2.4

                                       PTS
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     6.3
 2                                     9.9
 3                                     9.1
 4                                    13.2

In [26]:
type(df3)

list

# What read_html does ??

* it tries to fetch all the table data from the html page

In [27]:
# How to calculate how many tables in this html page
len(df3)

6

In [28]:
# How to fetch the first table from the html page
df3[0]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),...,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2
5,2013-14,24.0,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,.784,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1
6,2014-15,25.0,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,.836,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3
7,2015-16,26.0,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,.752,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6
8,2016-17,27.0,TOT,NBA,PF,79,79,30.7,6.0,12.4,...,.856,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8
9,2016-17,27.0,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
10,2016-17,27.0,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,.882,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2
11,2017-18,28.0,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,.797,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6
12,2018-19,29.0,TOR,NBA,C,74,51,27.2,6.3,11.9,...,.763,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0
13,2019-20,30.0,TOR,NBA,C,55,27,27.0,6.2,12.2,...,.718,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4
14,2020-21,31.0,LAC,NBA,C,41,39,23.3,4.5,8.9,...,.811,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1
15,2021-22,32.0,TOT,NBA,"C,PF",54,12,16.2,2.7,5.5,...,.727,1.1,3.5,4.6,0.9,0.2,0.6,0.8,1.9,6.8
16,2021-22,32.0,LAC,NBA,C,35,10,15.4,2.7,5.5,...,.690,1.1,3.1,4.3,1.0,0.2,0.7,0.9,1.6,6.6
17,2021-22,32.0,MIL,NBA,PF,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0
18,Career,NaN,NaN,NBA,NaN,903,697,27.6,5.0,9.8,...,.758,2.1,5.1,7.2,0.8,0.4,1.9,1.3,2.7,12.1
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7 seasons,NaN,OKC,NBA,NaN,524,413,28.8,4.9,9.3,...,.745,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6
21,4 seasons,NaN,TOR,NBA,NaN,228,177,27.6,5.8,11.4,...,.768,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2
22,2 seasons,NaN,LAC,NBA,NaN,76,49,19.6,3.7,7.3,...,.768,1.5,4.1,5.6,1.4,0.2,1.0,1.0,1.7,9.0
23,1 season,NaN,ORL,NBA,NaN,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
24,1 season,NaN,MIL,NBA,NaN,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0

In [29]:
df3[5]

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2009-10,20.0,OKC,NBA,PF,6.0,153.0,15.3,0.596,0.000,...,NaN,0.2,0.3,0.5,0.144,NaN,-1.0,2.0,0.9,0.1
1,2010-11,21.0,OKC,NBA,PF,17.0,490.0,15.2,0.514,0.007,...,NaN,0.5,0.6,1.1,0.109,NaN,-1.6,0.8,-0.8,0.1
2,2011-12,22.0,OKC,NBA,PF,20.0,569.0,18.9,0.558,0.025,...,NaN,1.4,0.5,1.8,0.155,NaN,0.9,1.5,2.4,0.6
3,2012-13,23.0,OKC,NBA,PF,11.0,366.0,17.1,0.484,0.067,...,NaN,0.5,0.5,1.0,0.131,NaN,0.9,-0.1,0.8,0.3
4,2013-14,24.0,OKC,NBA,PF,17.0,581.0,16.6,0.633,0.088,...,NaN,1.0,0.7,1.7,0.143,NaN,1.1,1.7,2.8,0.7
5,2015-16,26.0,OKC,NBA,PF,18.0,602.0,15.3,0.629,0.423,...,NaN,1.4,0.7,2.0,0.163,NaN,2.1,1.5,3.6,0.9
6,2016-17,27.0,TOR,NBA,PF,10.0,307.0,14.4,0.527,0.292,...,NaN,0.0,0.4,0.4,0.065,NaN,-0.5,0.8,0.3,0.2
7,2017-18,28.0,TOR,NBA,PF,10.0,260.0,10.9,0.533,0.333,...,NaN,0.0,0.0,0.1,0.014,NaN,-1.7,-0.4,-2.2,0.0
8,2018-19,29.0,TOR,NBA,C,24.0,500.0,15.1,0.532,0.197,...,NaN,0.2,1.0,1.2,0.117,NaN,-1.6,1.2,-0.4,0.2
9,2019-20,30.0,TOR,NBA,C,11.0,251.0,25.2,0.702,0.409,...,NaN,0.8,0.5,1.3,0.250,NaN,5.2,2.6,7.7,0.6
10,2020-21,31.0,LAC,NBA,C,2.0,18.0,30.7,0.644,0.333,...,NaN,0.1,0.0,0.1,0.285,NaN,5.0,7.0,12.0,0.1
11,2021-22,32.0,MIL,NBA,PF,6.0,22.0,-3.9,0.267,0.188,...,NaN,-0.2,0.0,-0.2,-0.355,NaN,-13.4,-7.7,-21.0,-0.1
12,Career,NaN,NaN,NBA,NaN,152.0,4119.0,16.3,0.564,0.188,...,NaN,5.9,5.3,11.1,0.130,NaN,0.4,1.1,1.5,3.6
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6 seasons,NaN,OKC,NBA,NaN,89.0,2761.0,16.5,0.567,0.122,...,NaN,5.0,3.2,8.2,0.142,NaN,0.7,1.2,1.9,2.7
15,4 seasons,NaN,TOR,NBA,NaN,55.0,1318.0,16.0,0.567,0.287,...,NaN,1.0,2.0,3.0,0.110,NaN,-0.1,1.0,1.0,1.0
16,1 season,NaN,MIL,NBA,NaN,6.0,22.0,-3.9,0.267,0.188,...,NaN,-0.2,0.0,-0.2,-0.355,NaN,-13.4,-7.7,-21.0,-0.1
17,1 season,NaN,LAC,NBA,NaN,2.0,18.0,30.7,0.644,0.333,...,NaN,0.1,0.0,0.1,0.285,NaN,5.0,7.0,12.0,0.1

In [31]:
# How to save the aove data into csv file
df3[5].to_csv('webdata_of_players.csv')

# How to read data from github repository

In [32]:
# Just use the raw code from the github
df4=pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv')

In [33]:
df4

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Working on JSON Data:

* JSON stands for Javascript Object Notation. JSON is a text-based data format that is used to store and transfer data. For example, // JSON syntax { "name": "John", "age": 22, "gender": "male", } In JSON, the data are in key/value pairs separated by a comma , . JSON was derived from JavaScript.

In [59]:
s="""
{
"name":"Nitish",
"Age":"20",
"College":"Srm University",
"Specialisation":["Ai","Ml","Dl","Nlp","Bd"]
}
"""

In [60]:
import json

In [61]:
s1=json.loads(s)

In [62]:
s1

{'name': 'Nitish',
 'Age': '20',
 'College': 'Srm University',
 'Specialisation': ['Ai', 'Ml', 'Dl', 'Nlp', 'Bd']}

# How to convert json data into tabular format

In [65]:
pd.DataFrame(s1)

     name Age         College Specialisation
0  Nitish  20  Srm University             Ai
1  Nitish  20  Srm University             Ml
2  Nitish  20  Srm University             Dl
3  Nitish  20  Srm University            Nlp
4  Nitish  20  Srm University             Bd

In [69]:
# I need only the "Specialisation column"
pd.DataFrame(s1,columns=['Specialisation'])

  Specialisation
0             Ai
1             Ml
2             Dl
3            Nlp
4             Bd